POSTGRES_DB=ticketoo-test
POSTGRES_USER=ticketoo-test
POSTGRES_PASSWORD=ticketoo-test
POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_SECRET_KEY="django-insecure-0))1r4r*ql7+!43^$j#7mia%nvg2q!ro8@d3*$rkua4xd50o_("
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
