POSTGRES_DB=ticketoo-test
POSTGRES_USER=ticketoo-test
POSTGRES_PASSWORD=ticketoo-test
POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_SECRET_KEY=khaqp^t8bzz3vhb1fhxe((tw$5y8qy$4-kec1+=yu0ehsb3*6=
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
